.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 48px 20px 30px 20px;
  transform: translate(-50%) scale(1);

  width: 280px;
  height: auto;

  background-color: var(--white-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1.1);
}


.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %align;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

// .modal-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }


.modal-image {
  width: 240px;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;

  margin: auto;
  margin-bottom: 20px;
}

.modal-title {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(500, 20px, 23px, 0.02em);

  width: 240px;
  margin: auto;
  margin-bottom: 15px;
}

.modal-table-box{
  margin: auto;
  margin-bottom: 20px;
}

.modal-data {
  color: #8C8C8C;
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(500, 12px, 16px, 0.03em);

  padding-right: 40px;
}

.modal-data-value {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(500, 12px, 14px, 0.03em);
}


.modal-rating {
  color: var( --white-text-color);
  font-family: Roboto, sans-serif;
  @include font(500, 12px, 14px, 0.02em);
  font-style: normal;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 1 10;
  margin-right: 3px;

}

.modal-rating-two {
  color: var( --primary-text-color);
  font-family: Roboto, sans-serif;
  @include font(500, 12px, 14px, 0.02em);
  font-style: normal;
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 1 4;
  margin-left: 3px;


}

.modal-title-about {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(500, 12px, 16px, 0.02em);

  width: 240px;
  margin: auto;
  margin-bottom: 8px;
}

.modal-description {
  
    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(500, 12px, 20px, 0.02em);
    
    margin: auto;
    margin-bottom: 20px;
    width: 240px;

}

.md-modal-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-modal {
  display: inline-block;
  border: 1px solid var(--second-text-color);
  border-radius: 5px;
  padding: 5, 10;
  text-transform: uppercase;
  background-color: transparent;
  align-items: center;
  text-align: center;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(500, 12px, 16px, 0.03em);
  color: var(--second-text-color);
  cursor: pointer;

  margin: auto;
  margin-bottom: 10px;
  width: 110px;
  height: 44px;
  
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border: none;
    color: var(--white-text-color);
  }

}


// ===768+====

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: auto;
    flex-direction: inherit;
    padding: 40px 72px 40px 36px;

    transform: translate(-50%) scale(1);
  }
  .modal-content {
    display: flex;
  }

  .modal-image{
    width: 264px;
    height: 374px;
    object-fit: cover;
    margin-right: 68px;
    margin-top: 0;
  }

  .modal-table-box {
    margin-left: 0;
  }
  .modal-title {
    margin-left: 0;
  }
  .modal-title-about {
    margin-left: 0;
  }

  .modal-data-box {
    width: 264px;
    margin: 0;
    flex-direction: row;
  }

  .modal-description {
    width: 264px;
    margin-right: 0;
  }
 
  .button-modal {
    margin: auto;
    margin-bottom: 10px;
    width: 125px;
    height: 44px;
  }
}

// ===1200+====

@media screen and (min-width: 1200px) {
  .modal {
    width: auto;
    height: auto;
    padding: 40px 12px;
  }

  .modal-image {
    width: 375px;
    height: 478px;
    object-fit: cover;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .modal-data-box {
    width: 391px;
  }

  .modal-title {
    @include font(500, 30px, 35px, 0.03em);
    margin-bottom: 20px;
    width: 391px;
  }

  .modal-description {
    width: 391px;
  }
  .button-modal {
    width: 120px;
  }

}
