@import './components/nightMode';

@import './utils/variables';
@import './utils/vissualy-hidden';
@import './utils/placeholders';
@import './utils/mixins';
@import './utils/brakepoints';

@import './common';
@import './container';
@import './example';
@import './header';
@import './logo';
@import './buttons';
@import './top';
@import './galary';
@import './pages';
@import './footer';
@import './movie-modal';
@import './developers';
@import './filter';
@import './pagination';
@import './sceleton';
@import './movie-player';
