

//  основной цвет текста черный #0000
//  вторичный цвет текста серый #545454
//  белый #FFFFFF 
//  акцент #FF6B01





:root {
    --primary-text-color: #000;
    --second-text-color: #545454;
    --white-text-color: #ffffff;
    --accent-color: #FF6B01;
    --accent-color-transparent: #ff6b0185;
    --accent-color-transparenty: #ff6b01af;
  }