<section class="section section--filter">
    <h2 class="filter--hidden">Filter options</h2>
    <div class="container filter__container">
        <div class="filter__select-btn">
            <span>Select genre</span>
        </div>
        <ul class="filter__genre-list"></ul>
        <button class="filter__clear filter--hidden">
        <svg class="filter__clear-icon" width="22" height="22">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
        </button>
    </div>
</section>