<div class="container">
    <p class="coperite">© 2020 &#124; All Rights Reserved &#124;</p>
    <div class="footer__bottom">
        <p class="coperite">Developed with</p>
        <svg class="icon-love" width="12" height="12">
        <use href="./images/sprite.svg#icon-love"></use>
        </svg>
        <p class="coperite">
            by&nbsp<a
                data-modal-open-two
                class="coperite footer-modal-open"
                href=""
                noreferrer
                noopener
                nofollow
                >GoIT Students</a
            >
        </p>
    </div>
</div>