<div data-modal class="backdrop is-hidden">
    <div class="backdrop__team overlay ">
        <span class="close">&times;</span>
        <div class="team">
            <ul class="team__list list">
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/pavlenko.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/Aleksandor2138" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/aleksandr-pavlenko-1a7a44246/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>

                    <h3 class="team__name">Oleksandr Pavlenko</h3>
                    <p class="team__text">Team lead</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/GubarievVitalii" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Vitalii Gubariev</h3>
                    <p class="team__text">Scrum master</p>
                </li>
            </ul>
            <ul class="team__list list">
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/dmitriev.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/MaxDM2021" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/vitalii-gubariev-1a145369/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Maksim Dmitriev</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/ivanenko.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/AndriyIvanenko" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Andriy Ivanenko</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/mylymuk.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/mylymukkk" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/oksana-mylymuk-a7b58a246/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Oksana Mylymuk</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/homziak.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/Semen-Gomzyak" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/Semen-Homziak" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Semen Homziak</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/yelisieiev.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/OlegYelis" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/oleg-yelisieiev" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Oleg Yelisieiev</h3>
                    <p class="team__text">Developer</p>
                </li>
            </ul>
            <ul class="team__list list">
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/dmitriev.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/PavelBakhtin" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Pavlo Bakhtyn</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/dehtiarov.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/tarsweb" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Oleksandr Dehtiarov</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/melnyk.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/DmytroMelnyk1992" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/dmytro-melnyk-84a639231/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Dmytro Melnyk</h3>
                    <p class="team__text">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team-overlay">
                        <img src="./images/team/rysich.png" alt="photo" class="team__img" />
                        <div class="team-soc-media">
                            <a href="https://github.com/Artem-Rysich" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                    alt="" />
                            </a>
                            <a href="https://www.linkedin.com/in/artemrysich/" target="_blank">
                                <img class="soc-icon"
                                    src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-256.png"
                                    alt="" />
                            </a>
                        </div>
                    </div>
                    <h3 class="team__name">Artem Rysich</h3>
                    <p class="team__text">Mentor</p>
                </li>
            </ul>
        </div>
    </div>
</div>
