<div data-modal class="backdrop is-hidden">
  <div class="backdrop__team overlay">
    <span class="close">&times;</span>
    <div class="team">
      <ul class="team__list list">
        <li class="team__item">
          <img src="./images/team/pavlenko.png" alt="photo" class="team__img" />
          <h3 class="team__name">Oleksandr Pavlenko</h3>
          <p class="team__text">Team lead</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Scrum master</p>
        </li>
      </ul>
      <ul class="team__list list">
        <li class="team__item">
          <img src="./images/team/dmitriev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Maksim Dmitriev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Developer</p>
        </li>
      </ul>
      <ul class="team__list list">
        <li class="team__item">
          <img src="./images/team/dmitriev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Maksim Dmitriev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Developer</p>
        </li>
        <li class="team__item">
          <img src="./images/team/gubariev.png" alt="photo" class="team__img" />
          <h3 class="team__name">Vitalii Gubariev</h3>
          <p class="team__text">Mentor</p>
        </li>
      </ul>
    </div>
  </div>
</div>
