body.night {
  & .filter__select-btn {
    box-shadow: none;
  }
  & .filter__clear {
    color: #f9f9f9;
    fill: #f9f9f9;
  }
  & .filter__clear:hover,
  & .filter__clear:focus {
    color: #ff6b01;
    fill: #ff6b01;
  }
}

.section--filter {
  padding-top: 20px;
  padding-bottom: 5px;

  @include tablet {
    padding-top: 30px;
    padding-bottom: 6px;
  }
}

.filter__container {
  display: flex;
  justify-content: center;
}

.filter__wrap {
  position: relative;
  display: flex;
  width: 130px;
  justify-content: center;

  &.filter--active .filter__genre-list {
    display: block;
  }

  &.filter--active .filter__select-btn::before {
    top: 42%;
    transform: rotate(-225deg);
  }

  @include tablet {
    width: 150px;
  }
}

.filter__select-btn,
.filter__genre-item {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  height: 35px;

  font-size: 12px;

  cursor: pointer;

  @include tablet {
    font-size: 14px;
    height: 40px;
  }
}

.filter__select-btn {
  justify-content: start;
  width: 100%;
  padding: 0 10px;

  color: #333;
  background-color: #f9f9f9;

  border-radius: 5px;
  border: none;

  box-shadow: 5px 5px 8px -6px rgba(194, 194, 194, 1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #f9f9f9;
    background-color: #ff6b01;
    &::before {
      border-color: #f9f9f9;
    }
  }

  &::before {
    content: '';
    position: absolute;
    right: 10%;
    top: 35%;
    width: 8px;
    height: 8px;

    border-left: 2px solid #333;
    border-bottom: 2px solid #333;

    z-index: 5;

    transform: rotate(-45deg);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.filter__genre-list {
  position: absolute;
  display: none;
  padding: 5px 5px;
  top: 120%;
  width: 100%;

  max-height: 220px;

  background: #f9f9f9;

  border-radius: 4px;

  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
}

.filter__genre-item {
  color: #333;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  &:hover,
  &:focus {
    color: #f9f9f9;
    background-color: rgba(204, 204, 204, 0.856);
  }

  &--highlight {
    background-color: #ff6b01;
    color: #f9f9f9;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #ff6b0191;
    }
  }
}

.filter__clear {
  position: absolute;
  display: flex;
  padding: 0;
  align-items: center;
  right: -65%;
  height: 35px;

  background-color: transparent;
  color: #333;
  fill: #333;

  border: none;

  font-size: 12px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ff6b01;
    fill: #ff6b01;
  }

  @include tablet {
    font-size: 14px;
    height: 40px;
  }
}

.filter--hidden {
  display: none;
}
