.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity, visibility;
    transition-duration: 500ms, 500ms, 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
        cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s, 0s;
}

.backdrop__team {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 5px solid #ffffff;
    border-radius: 4px;
    overflow-y: auto;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/footer-modal-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-image: url(../images/footer-modal-background.jpg);
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-position: center;
    @include mobile {
        width: 480px;
    }
    @include tablet {
        width: max-content;
        height: max-content;
    }
    // @include desktop {
    //     width: 850px;
    // }
}

// .overlay {
//     margin-left: auto;
//     margin-right: auto;
//     background-image: linear-gradient(to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url(../images/footer-modal-background.jpg);
//     background-position: center;
//     background-size: auto;
//     background-repeat: no-repeat;
// }

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border, color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;

        color: tomato;
    }
}
.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    @include tablet {
            row-gap: 10px;
        }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow:1;
        row-gap: 20px;
        @include tablet {
            flex-direction: row;
            column-gap: 20px;
        }
    }
    // &__item{
    //     width: 100%;
    // }
    &__img{
        display: block;
        width: 300px;
        height: 100%;
        border-radius: 50%;
        background-color: #2080b3c0;
        @include tablet {
            width: 125px;
        }

        @include desktop {
            width: 145px;
        }
    }
    &__name{
        font-size: 16px;
        color: var(--accent-color);
        text-align: center;
        margin-top: 5px;

        @include tablet {
            font-size: 14px;
            margin-top: 3px;
        }
    }
    &__text{
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
        color: var(--white-text-color);

        @include tablet {
            font-size: 12px;
            margin-top: 3px;
        }
    }
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}