
.footer {
    background-color:  #F7F7F7;
    padding: 29px 0;
    & .container{
        padding: 0 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 768px){
            flex-direction: row;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 10px;
        @media screen and (min-width: 768px){
            margin-top: 0;
        }
    }
}

.coperite {
    margin-right: 10px;
    color: #545454;
    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(400, 16px, 19px, 0.02em);
}

.icon-love {
    margin-right: 10px;
    fill: #FF6B08;
    transform: translate(0px, 3px);
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 1500ms infinite;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }

    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }

    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}


