.header {
  position: relative;
  background-image: url(../images/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;
  padding: 40px 0;
  z-index: 7;

  &-library {
    position: relative;
    background-image: url(../images/bg-mobile-library.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;
    padding: 40px 0;
    z-index: 7;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}
.logo {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  @include font(500, 25px, 25px, 0.03em);
  &__link {
    display: flex;
    align-items: center;
  }
  &__icon {
    fill: transparent;
    stroke: white;
    margin-right: 8px;
    background-color: transparent;
  }
  &__web {
    display: none;
    @include font(500, 30px, 35px, 0em);
    color: #ffffff;
  }
}
.nav {
  &__list {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__item:not(:last-child) {
    margin-right: 39px;
  }
  &__link {
    position: relative;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(500, 12px, 14px, 0.02em);
    text-transform: uppercase;
    cursor: pointer;
    transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    &--active {
      width: 100%;
      border-bottom: 3px solid #ff001b;
    }
  }
}

.search {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
  }
  &-field {
    position: relative;
    margin-bottom: 16px;
    width: 280px;
    border-bottom: 1px solid #ffffff;
  }
  &-input {
    color: #ffffff;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 11px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      outline: none !important;
    }
  }
  &-icon {
    position: absolute;
    top: 61%;
    left: 95%;
    transform: translateY(-50%);
    fill: transparent;
    stroke: #ffffff;
    background-color: transparent;
  }
}

.alarm__info {
  width: 280px;
  margin: 0 auto;
  color: #ff001b;
  @include font(400, 14px, 16px, 0em);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}
.header-buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.swich-on {
  background: var(--accent-color);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: none;
}

//

// ======= 768+ ======

@include tablet {
  .header {
    background-image: url(../images/bg-tablet.jpg);
    height: 216px;

    &-library {
      background-image: url(../images/bg-tablet-library.jpg);
      height: 216px;
    }
  }
  .logo {
    &__web {
      display: block;
    }
  }
  .search {
    &-form {
      margin-top: 46px;
    }
    &-field {
      width: 336px;
      margin-bottom: 20px;
    }
  }
  .alarm__info {
    width: 393px;
  }
  .header-buttons {
    margin-top: 40px;
  }
}

//====== 1280+ =======

@include desktop {
  .header {
    background-image: url(../images/bg-desktop.jpg);
    height: 216px;

    &-library {
      background-image: url(../images/bg-desktop-library.jpg);
      height: 216px;
    }
  }
  .search {
    &-field {
      width: 393px;
    }
  }
  .button {
    width: 147px;
    height: 42px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
